body {
    font-family: "Raleway"; 
    padding: 1em 4em;
  }

.axis-label {
    font-family: "Raleway";
    font-size: 14px;
    fill: black;
    text-anchor: middle;
  }

.trendMax {
  fill: none;
  stroke: #136388;
  stroke-width: 2px;
}

.trendMin {
  fill: none;
  stroke: #8F3FA0;
  stroke-width: 2px;
}

.area {
  fill: #B7D0DB;
  opacity: .75
}

.dot {
  fill: #136388;
}

/*I could not get a legend to work :(
 .lineMax {
  width: 40px;
  height: 2px;
  border-bottom: 2px solid #136388;
  position: relative;
}

.lineMax text {
text-align: left;
}

.lineMin {
  width: 40px;
  height: 2px;
  border-bottom: 2px solid #8F3FA0;
  position: relative;
  padding: 1em 4em;

}

.dropdownLegend {
  padding: 1em;
} */

